html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 72pt;
    text-align: center;
}

#container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#header {
    padding: 0 10px;
    background-color: #2D3142;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    flex: 1 1 auto;
    background-color: #F9F8F8;
    background-image: url(chimp_boat.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#footer {
    padding: 0 10px;
    background-color: #F3DE8A;
    color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-resolution: 192dpi),
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
    
    h1 {
        font-size: 30pt;
    }
    
}